.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(https://sakhadib.files.wordpress.com/2023/08/jj.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.holder{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
}